<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lab w4d1</title>

    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body class="site">
    <header>
      <div>
        <img src="images/slash-online.png" alt="" class="logo" />
      </div>
      <nav class="nav_container">
        <a class="nav_links" href="/">Home</a>
        <a class="nav_links" href="/about">About</a>
        <a class="nav_links" href="/works">Works</a>
        <a class="nav_links" href="/gallery">Gallery</a>
      </nav>
    </header>
    <main>
      <section class="biography">
        <h2>Biography</h2>
        <article>
          <h3>Who is he ?</h3>
          <p>
            Saul Hudson (born July 23, 1965), better known as Slash, is a
            British-American guitarist from Stoke-on-Trent, England. He is best
            known as the lead guitarist of the American hard rock band Guns N'
            Roses, with whom he achieved worldwide success in the late 1980s and
            early 1990s. Slash has received critical acclaim and is considered
            one of the greatest guitarists in history.
          </p>
          <p>
            In 1993, Slash formed the side project Slash's Snakepit and in 1996
            he left Guns N' Roses and co-founded the supergroup Velvet Revolver,
            which re-established him as a mainstream performer in the mid to
            late 2000s. Slash has released five solo albums: Slash (2010),
            featuring an array of guest musicians, Apocalyptic Love (2012),
            World on Fire (2014), Living the Dream (2018) and 4 (2022) recorded
            with his band, Myles Kennedy and the Conspirators. He returned to
            Guns N' Roses in 2016.
          </p>

          <h3>Early life</h3>
          <p>
            Slash was born as Saul Hudson in London on July 23, 1965. His mother
            Ola J. Hudson was an African-American costume designer and his
            father Anthony Hudson was a white English artist. He was nicknamed
            “Slash” by a family friend. He had a difficult childhood marked by
            his parents' separation, father's alcoholism, and other troublesome
            family issues. He was a troubled child who grew up to be a
            rebellious teenager. He was not much interested in academics as a
            school student and was more inclined towards music. He began taking
            guitar classes with Robert Wolin, a teacher at Fairfax Music School.
            He also loved biking, but his love for music was so great that he
            abandoned biking to focus on his music. He was so passionate about
            music that he practiced playing the guitar up to 12 hours a day.
          </p>
          <h3>Career</h3>
          <p>
            Slash embarked on his professional career in the early 1980s. He
            joined his first band in 1981 and two years later, he formed his own
            band with his friend, Steven Adler. However the band was not
            successful and was disbanded quickly. He, along with Adler joined
            the newly founded band Guns N' Roses in 1985. Initially they played
            at nightclubs and opened for bigger bands, and by the end of 1986
            they began recording their debut album. Guns N' Roses released their
            debut album 'Appetite for Destruction' in 1987 which reached No. 1
            on the Billboard 200, on the strength of the hit 'Sweet Child o'
            Mine'—their only single to reach No. 1 on the Billboard Hot 100.
            <p>
                Over the next few years, Slash found widespread fame and success
                with the band which released several successful albums including
                'Use Your Illusion I' (1991), 'Use Your Illusion II' (1991), and
                'The Spaghetti Incident?' (1993). By the mid-1990s, Slash realized
                that he no longer wanted to be a part of Guns N' Roses and quit the
                band in 1996. He later formed a supergroup, Velvet Revolver, with
                his former band mates Duff McKagan, and Matt Sorum, alongside Dave
                Kushner and Scott Weiland. The group achieved considerable success
                with their debut album, 'Contraband' which debuted at No. 1 on the
                U.S. chart and sold two million copies.
            </p>
            <p>
                After a successful stint
                with the group, Slash left Velvet Revolver in 2008. Eventually he
                decided to embark on a solo career, and released his debut solo
                album, 'Slash', in 2010. It featured the hit songs 'Beautiful
                Dangerous', 'Back from Cali', 'Nothing to Say', and 'Starlight'. The
                album was a huge commercial hit and re-established Slash as a
                successful performer in his solo career. He began working on his
                much-anticipated second album in 2011 and released the album
                'Apocalyptic Love' in 2012. The album, noted for its stripped down
                hard rock sound, debuted at No. 2 on the Canadian Albums Chart.
            </p>
            
          </p>
          <h3>Equipment</h3>
          <p>
            Slash owns more than 100 guitars. His guitars are worth a total
            of $1.92 million. He prefers the Gibson Les Paul, which he has
            called "the best all-around guitar for me." Gibson has credited
            him and Zakk Wylde with bringing the Les Paul back into the
            mainstream in the late 1980s. His main studio guitar is a 1959
            Gibson Les Paul Standard replica, built by luthier Kris Derrig,
            which he came to own during the recording sessions for Guns N'
            Roses' debut album, Appetite for Destruction. He used that guitar on
            every subsequent album he recorded with Guns N' Roses and Velvet
            Revolver. For many years, his main live guitar was a 1988 Gibson Les
            Paul Standard. 
            <p>
                Since 1997, Slash has
                collaborated with Gibson on seventeen signature Les Paul
                models five through Gibson USA; seven through the Gibson Custom
                Shop; and five through the Gibson subsidiary Epiphone. Slash also
                plays various other Gibson guitars, including Firebirds and
                Explorers. In addition to Gibson, he also plays or has played
                guitars by a plethora of other brands as well, including B.C. Rich
                with whom he has designed several custom models based on their
                Mockingbird and Bich designs. He has used guitars by Fender,
                Gretsch, Jackson, and Martin. He has also collaborated on signature
                equipment with other companies. In 1996, Marshall introduced the
                Marshall Slash Signature JCM 2555, an authentic reissue of the
                Marshall "Silver Jubilee" JCM 2555 released in 1987. It was the
                first signature amp ever produced by Marshall, with production
                limited to 3000. In 2007, Jim Dunlop introduced the Crybaby
                SW-95 Slash Signature Wah, designed after Slash's own custom-built
                Crybaby wah pedal. In 2010, Seymour Duncan introduced the
                Alnico II Pro Slash APH-2 pickups, which were designed to recreate
                the tone of Slash's main studio guitar. The Slash signature
                pickups were marketed through Seymour Duncan's YouTube channel with
                product demonstrator Danny Young performing the official
                videos. Also in 2010, Marshall introduced
                the Marshall AFD100, a recreation of the Marshall 1959 that Slash
                used for the recording of Appetite for Destruction, with production
                limited to 2300.
            </p>
            <p>
                On stage, Slash prefers Marshall amplifiers,
                particularly the Marshall "Silver Jubilee" JCM 2555 amp. He used a
                rented early-1970s Marshall 1959 for the recording of Appetite for
                Destruction. Slash enjoyed the amp so much that he tried to
                keep it, telling the rental company, S.I.R., that it had been
                stolen. However, the amp was repossessed by S.I.R. employees after a
                roadie accidentally brought it to rehearsals at the store. For
                the recording of Velvet Revolver's debut album, Contraband, he used
                a Vox AC30 amp and small Fender tube amps, and on their second
                album, Libertad, he used the Marshall "Vintage Modern" 2466 amp. On
                his eponymous debut solo album he used a Marshall JCM 800, issued as
                "#34", and later, on the subsequent world tour, Slash used his
                signature Marshall AFD100 amp.
            </p>
            
          </p>
        </article>
      </section>
    </main>
    <footer>
      <p>
        Made with <span role="image" aria-label="hamburger">❤️</span>, always
      </p>
      <p>Ironhack Web Dev July 2022</p>
    </footer>
  </body>
</html>
