<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lab w4d1</title>

    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body class="site">
    <header>
      <div>
        <img src="images/slash-online.png" alt="" class="logo" />
      </div>
      <nav class="nav_container">
        <a class="nav_links" href="/">Home</a>
        <a class="nav_links" href="/about">About</a>
        <a class="nav_links" href="/works">Works</a>
        <a class="nav_links" href="/gallery">Gallery</a>
      </nav>
    </header>
    <main class="site_content">
      <section class="hero">
        <h1>Slash Online</h1>
        <h2>Slash's fan ? Welcome, you're at the right place !</h2>
        <a href="/about"><button>Discover more</button></a>
      </section>
    </main>
    <footer>
      <p>
        Made with <span role="image" aria-label="hamburger">❤️</span>, always
      </p>
      <p>Ironhack Web Dev July 2022</p>
    </footer>
  </body>
</html>
