<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lab w4d1</title>

    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body class="site">
    <header>
      <div>
        <img src="images/slash-online.png" alt="" class="logo" />
      </div>
      <nav class="nav_container">
        <a class="nav_links" href="/">Home</a>
        <a class="nav_links" href="/about">About</a>
        <a class="nav_links" href="/works">Works</a>
        <a class="nav_links" href="/gallery">Gallery</a>
      </nav>
    </header>
    <main>
      <section class="discography">
        <h2>Discography</h2>
        <div class="discography-content">
          <h3>Solo albums</h3>
          <ul>
            <li>Slash (2010)</li>
          </ul>
          <h3>Slash featuring Myles Kennedy & The Conspirators</h3>
          <ul>
            <li>Apocalyptic Love (2012)</li>
            <li>World on Fire (2014)</li>
            <li>Living the Dream (2018)</li>
            <li>4 (2022)</li>
          </ul>
          <h3>With Guns N' Roses</h3>
          <ul>
            <li>Appetite for Destruction (1987)</li>
            <li>G N' R Lies (1988)</li>
            <li>Use Your Illusion I (1991)</li>
            <li>Use Your Illusion II (1991)</li>
            <li>"The Spaghetti Incident?" (1993)</li>
          </ul>
          <h3>With Slash's Snakepit</h3>
          <ul>
            <li>It's Five O'Clock Somewhere (1995)</li>
            <li>Ain't Life Grand (2000)</li>
          </ul>
          <h3>With Velvet Revolver</h3>
          <ul>
            <li>Contraband (2004)</li>
            <li>Libertad (2007)</li>
          </ul>
        </div>
      </section>
    </main>
    <footer>
      <p>
        Made with <span role="image" aria-label="hamburger">❤️</span>, always
      </p>
      <p>Ironhack Web Dev July 2022</p>
    </footer>
  </body>
</html>
